pre code {
  background-color: #eee;
  border: 1px solid #999;
  display: block;
  padding: 20px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.figure {
  background: #d9dabb;
  display: block;
  width: 150px;
  height: 190px;
  float: left;
  margin: 0 10px 10px 0;
  text-align: center;
}
figure img {
  border: 2px solid #8b8e4b;
}
figure p {
  margin-bottom: 0;
}

figure figcaption {
  margin-left: 50px;
}
